spring:
  application:
    name: devops-learning
  datasource:
    url: jdbc:postgresql://database:5432/mydb
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 9000
